.nft {
  position: absolute;
  z-index: 110;
}
.banner-nft {
  width: 216px;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(2px -5px 1px rgba(50, 50, 50, 0.3));
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  z-index: 1;
}
.banner-nft.first {
  left: 10%;
}
.banner-nft.second {
  left: 5%;
}
.banner-nft.third {
  left: 50%;
}
.banner-nft.four {
  right: 10%;
  /* transform: scaleX(-1); */
}

@keyframes moveAround {
  0% {
    margin-left: 0%;
  }
  9.5% {
    transform: scaleX(-1);
  }

  10% {
    margin-left: 15%;
  }

  22% {
    margin-left: 25%;
  }

  40% {
    margin-left: 18%;
  }
  43.5% {
    transform: scaleX(1);
  }

  44% {
    margin-left: 23%;
  }
  50% {
    transform: scaleX(-1);
  }

  50.5% {
    margin-left: 13%;
  }

  99.5% {
    transform: scaleX(1);
  }
  100% {
    margin-left: 0%;
  }
}
