.icon {
  display: inline;
  position: relative;
  filter: invert(100%) sepia(0%) saturate(7427%) hue-rotate(23deg)
    brightness(118%) contrast(118%);
  cursor: pointer;
  transition: all 0.3s;
}

.icon-back {
  display: inline-block;
  background-color: var(--darker-back);
  padding: 0.5em;
  margin: 0 0.2em;
  border-radius: 15px;
  border: 0.1em solid var(--med-link);
}

.icon:hover {
  -webkit-filter: drop-shadow(0px 8px 7px #222);
  filter: invert(72%) sepia(42%) saturate(445%) hue-rotate(161deg)
    brightness(96%) contrast(95%) drop-shadow(0px 0px 5px #fff);
  transition: all 0.3s;
}
